<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phần mềm quản lý sinh viên</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <header class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Quản lý sinh viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quản lý khoa viện</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quản lý lớp học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quản lý môn học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quản lý kết quả học tập</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">

            </div>
        </div>
    </main>
    <footer>

    </footer>
</nav>
</body>
</html>