<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Thêm sinh viên mới</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--    <link rel="stylesheet" href="../../css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header class="container">
    <h1>Thêm sinh viên mới</h1>
</header>
<main class="container">
    <div class="row">
        <div class="col-2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/sinh-vien">Quản lý sinh viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/khoa-vien">Quản lý khoa viện</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lop">Quản lý lớp học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mon-hoc">Quản lý môn học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/thong-ke">Thống kê</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <form action="/sinh-vien/luu" method="post">
                <div class="row">
                    <div class="col-2">
                        <label>Mã số sinh viên</label>
                    </div>
                    <div class="col-10">
                        <input type="number" name="id" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label>Tên Sinh Viên</label>
                    </div>
                    <div class="col-10">
                        <input type="text" name="name" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label>Ngày sinh</label>
                    </div>
                    <div class="col-10">
                        <input type="date" name="birth" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label>Thuộc Lớp</label>
                    </div>
                    <div class="col-10">
                        <select class="custom-select" name="grade_id">
                            <option th:each="grade : ${grades}" th:value="${grade.getId()}" th:text="${grade.getName()}" th:selected="${grade.getId()==1}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label>Khóa</label>
                    </div>
                    <div class="col-10">
                        <input type="number" name="year" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label>Email</label>
                    </div>
                    <div class="col-10">
                        <input type="text" name="email" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label>Giới tính</label>
                    </div>
                    <div class="col-10">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio1" name="gender" class="custom-control-input" value="0" checked="checked">
                            <label class="custom-control-label" for="customRadio1">Nam</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio2" name="gender" class="custom-control-input" value="1">
                            <label class="custom-control-label" for="customRadio2">Nữ</label>
                          </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success" value="Lưu"/>
            </form>
        </div>
    </div>
    </div>
</main>
<footer>

</footer>
</nav>
</body>
</html>