<html>
<head>
    <title>Quản lý bài tập cá nhân</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
        textarea{
            height: 10rem;
        }
    </style>
</head>
<body>
<div class="container">
    <ul class="collapsible" id="main">
        <!-- A -->
        <li id="week1">
            <div class="collapsible-header"><strong>A/ Các bài tập java cơ bản</strong></div>
            <div class="collapsible-body" id="body_week1">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><strong>Bài 1: In ra màn hình tất cả các hợp số &lt;100 </strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 2: In ra màn hình 20 số nguyên tố đầu tiên </strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 03: In ra màn hình tất cả các số nguyên tố từ 1000 đến 2000 </strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 04: In ra màn hình các số &lt;100 và chia hết cho 3,7 </strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 05: In ra màn hình các số nằm giữa 1000 và 2000 đồng thời chia hết cho 3,5,7 </strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 06: In ra màn hình 5 số hoàn hảo đầu tiên (Số hoàn hảo là số có tổng bằng các ước số của mình kể cả 1 </strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 07: Trong các số tự nhiên &lt;=100 hãy đếm xem có bao nhiêu số chia hết cho 5, chia 5 dư 1, chia 5 dư 2, chia 5 dư 3</strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 8: Cho số tự nhiên N bất kỳ (đã gán trước đó), tìm và in ra ước số nguyên tố nhỏ nhất của N.</strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 09: Cho số tự nhiên N>1 bất kỳ (đã gán trước đó). In ra khai triển thành tích các số nguyên tố tính từ nhỏ đến lớn VD: 9=3.3; 12=2.2.3.</strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 10: Cho trước số tự nhiên N bất kỳ (đã gán trước đó). In ra màn hình tất cả các ước số nguyên tố khác nhau của N.</strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 11: Viết chương trình tráo đổi ngẫu nhiên vị trí một dãy số cho trước. Để lấy một số int ngẫu nhiên từ 0 đến n-1 ta dùng lệnh int i = Random.nextInt(n); </strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 12. Viết chương trình nhập chiều cao h từ bàn phím, sau đó hiển thị các tam giác hình sao có chiều cao h như dưới đây. Chú ý có kiểm tra điều kiện của h: 2&lt;=h&lt;=10. Nếu h nằm ngoài đoạn trên, yêu cầu người dùng nhập lại. (cho lựa chọn in tam giác xuôi hoặc ngược)</strong></div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- B -->
        <li id="week2">
            <div class="collapsible-header"><strong>B/ Bài tập về hàm và thủ tục (Method & function)</strong></div>
            <div class="collapsible-body" id="body_week2">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><strong>Bài 01: Cho số tự nhiên N bất kỳ, tính tổng S=1+1/(1+2) + 1/(1+2+3) +…+ 1/(1+2+3+..+N)</strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 02: Cho số tự nhiên N bất kỳ, tính tổng S= 1+ 1/2! + 1/3! + … + 1/N!</strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 03: Cho số tự nhiên N bất kỳ, tính tổng S=1+1/(1+2!) + 1/(1+2!+3!)+ ..+ 1/(1+2!+3!+..+N!)</strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 04: Dãy Fibonaxi 1, 2, 3, … F(k) = F(k-1) + F(k-2). Tính số Fibonaxi thứ N.</strong></div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- C -->
        <li id="week3">
            <div class="collapsible-header"><strong>C/ Bài tập về mảng (Array)  </strong></div>
            <div class="collapsible-body" id="body_week3">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><strong>Bài 01: Cho một dãy số tự nhiên, viết chương trình sắp xếp dãy này theo thứ tự giảm dần.</strong></div>
                        
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 02: Cho dãy số tự nhiên, in ra màn hình tất cả các số nguyên tố của dãy này.</strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 03: Cho một dãy các số tự nhiên, tìm và in ra 1 giá trị min của dãy này và tất cả các chỉ số ứng với giá trị min này.</strong></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 04: Cho một dãy các số tự nhiên, tìm và in ra 1 giá trị max của dãy này và tất cả các chỉ số ứng với giá trị max này.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 05: Cho một dãy số tự nhiên, hãy đếm xem trong dãy số trên có bao nhiêu số nguyên tố, có bao nhiêu hợp số.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 06: Cho một dãy số tự nhiên, hãy in ra tất cả các số hạng của dãy trên thỏa mãn: số này là ước số thực sự của 1 số hạng khác trong dãy trên.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 07: Cho một dãy số tự nhiên, hãy tìm 1 số tự nhiên nhỏ nhất sao cho không bằng bất cứ số nào trong dãy trên.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 08: Cho một dãy số nguyên bất kỳ, hãy xóa đi trong dãy này các số hạng =0 và in ra màn hình các số còn lại.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 9: Cho một dãy số nguyên bất kỳ, cho trước 1 số c. Hãy đếm có bao nhiêu số của dãy trên =c; >c; &lt;c.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 10: Cho một dãy số nguyên bất kỳ, hãy tìm ra 1 một dãy số liền nhau dài nhất bao gồm các số bằng nhau. Hãy in ra số lượng và các chỉ số đầu tiên của dãy con này.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 11: Cho một dãy số nguyên bất kỳ. Hãy tìm 1 một dãy con liên tục đơn điệu tăng dài nhất của dãy trên.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 12: Dãy số a[ ] được gọi là dãy con của b[ ] nếu từ b [ ] xóa đi 1 vài số sẽ thu được   a[ ]. Cho trước 2 dãy số nguyên a[ ]; b[ ]. Hãy kiểm tra xem a[ ] có là dãy con của b[ ] hay không?</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 13: Nhập vào kích thước ô vuông n*n, kiểm tra 3&lt;=n&lt;= 8. Hiển thị ra màn hình kết quả như màn hình</strong></div>

                    </li>
                </ul>
            </div>
        </li>
        <!-- D -->
        <li id="week4">
            <div class="collapsible-header"><strong>D/ Bài tập về xâu (String) </strong></div>
            <div class="collapsible-body" id="body_week4">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><strong>Bài 01: Cho trước 1 xâu ký tự là họ tên người đầy đủ nhưng khi nhập có thể thừa một số dấu cách. Hãy xóa đi các dấu cách thừa và in ra họ tên chính xác.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 02: Cho trước xâu ký tự bất kỳ. Hãy đếm xem trong xâu có bao nhiêu lần xuất hiện xâu con “abc”</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 03: Cho trước 1 xâu ký tự là họ tên người đầy đủ, hãy tách ra phần tên của người này</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 04: Cho trước 1 xâu ký tự là họ tên người đầy đủ, hãy tách ra phần họ của người này</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 05: Cho một xâu ký tự bao gồm toàn các ký tự 0,1. Hãy biến đổi xâu này theo cách 0 thành 1, 1 thành 0 và in ra kết quả.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 06: Cho trước xâu ký tự S, in ra xâu S1 ngược lại xâu S.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 07: Cho trước xâu ký tự S. Hãy biến đổi S theo quy tắc sau: Chữ số thì biến thành “$”, ký tự thì giữ nguyên.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 08: Cho trước 2 xâu ký tự S1, S2. Hãy đếm xem xâu S1 xuất hiện trong S2 tại bao nhiêu vị trí.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 09: Cho xâu S và 2 chỉ số i, j. Hãy đổi chỗ 2 vị trí i, j trong S.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 10: Cho mảng xâu ký tự S1, S2, ..Sn. Hãy tìm và in ra phần tử xâu có độ dài lớn nhất.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 11: Cho danh sách họ tên đầy đủ học sinh. Hãy đếm xem có bao nhiêu bạn tên “An”.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 12: Cho danh sách họ tên đầy đủ học sinh. Hãy đếm xem có bao nhiêu bạn có phần đệm là  “Thị”.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 13: Cho danh sách họ tên đầy đủ học sinh. Hãy đếm xem có bao nhiêu bạn  có tên bắt đầu bằng chữ “H”.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 14: Dãy xâu ký tự S1, S2,… được cho theo quy tắc sau: S1= “1111100000”, Sk thu được từ Sk-1 bằng cách thay đổi cho lần lượt các vị trí  1-2;  2-3;  3-4; 4-5; 5-6;  6-7; 7-8;  8-9; 9-10. Cho trước số tự nhiên N, Hãy in ra xâu Sn.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 15: Cho trước 2 xâu ký tự S, S2. Hãy chèn xâu S1 vào giữa 2 xâu S và xâu S2 và in kết quả.</strong></div>

                    </li>
                    <li>
                        <div class="collapsible-header"><strong>Bài 16: Cho trước 2 xâu S1, S2. Hãy xét xem xâu S1 có phải là xâu con của S2 nếu xóa bỏ vài kí tự của xâu S2 ta được xâu S1.</strong></div>

                    </li>
                </ul>
            </div>
        </li>

    </ul>
</div>
<!-- <script>
    var week_value=1;
    var id_value=2;
    var input_value="1 2 3";
    var output_value="4 5 6";
</script> -->
<script th:inline="javascript">
    var week_value=[[${week}]];;
    var id_value=[[${id}]];;
    var input_value=[[${input}]];;
    var output_value=[[${output}]];;
</script>
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
        var i=0;
        $( "#main>li" ).each(function( index ) {
            i++;
            var id=0;
            // open week
            if ( i == week_value ){
                $(this).addClass('active');
                $("#body_week"+i).css("display","block");
            }


            $( "#week"+i+" .collapsible-body .collapsible li" ).each(function( index ) {
                id++;
                $(this).attr('id', 'week'+i+'_'+id);
                var content='<div class="collapsible-body" id="body_week'+i+'_'+id+'">'+
                                '<p><strong>Nhập đầu vào:</Strong></p>'+
                                '<form action="/#week'+i+'_'+id+'" method="post">'+
                                    '<input type="hidden" name="week" value="'+i+'">'+
                                    '<input type="hidden" name="id" value="'+id+'">'+
                                    '<textarea name="input" id="input_week'+i+'_'+id+'"></textarea>'+
                                    '<br/>'+
                                    '<button type="submit" class="waves-effect waves-light btn" style="margin-top:10px">Chạy</button>'+
                                '</form>'+
                                '<p><strong>Kết quả:</strong></p>'+
                                '<textarea id="output_week'+i+'_'+id+'" readonly></textarea>'+
                            '</div>';
            
                $(this).append(content);
                if (i == week_value && id == id_value){
                    // open id
                    $(this).addClass('active');
                    $('#body_week'+i+'_'+id).css("display","block");
                    document.getElementById('week'+i+'_'+id).scrollIntoView();

                    $('#input_week'+i+'_'+id).val(input_value);
                    $('#output_week'+i+'_'+id).val(output_value);
                }
            });
        });
    


    });

</script>
</body>
</html>